<h1>Download</h1>

<h2 id="full-package">Full Package</h2>

<p>Intended for command-line usage. You can also try <a href="online">online
version</a>.</p>

<ul>
  <li><a href="http://bitbucket.org/dmajda/pegjs/get/<%= @pegjs_version %>.zip">pegjs-<%= @pegjs_version %>.zip</a></li>
  <li><a href="http://bitbucket.org/dmajda/pegjs/get/<%= @pegjs_version %>.tar.gz">pegjs-<%= @pegjs_version %>.tar.gz</a></li>
  <li><a href="http://bitbucket.org/dmajda/pegjs/get/<%= @pegjs_version %>.tar.bz2">pegjs-<%= @pegjs_version %>.tar.bz2</a></li>
</ul>

<h2 id="minified-parser-runtime">Minified Parser Runtime</h2>

<p>Include together with a generated parser in a web page or your application.</p>

<ul>
  <li><a href="http://bitbucket.org/dmajda/pegjs/downloads/pegjs-runtime-<%= @pegjs_version %>.min.js">pegjs-runtime-<%= @pegjs_version %>.min.js</a></li>
</ul>

<h2>Source Code</h2>

<ul>
  <li><a href="http://bitbucket.org/dmajda/pegjs/src/">Browse on BitBucket</a></li>
</ul>
