<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="David Majda (david@majda.cz)">
    <meta name="copyright" content="Copyright &copy; 2010 David Majda">
    <meta name="keywords" content="parser generator, PEG, JavaScript">
    <meta name="description" content="PEG.js is a parser generator for JavaScript based on the parsing expression grammar formalism.">
    <title><%= @title ? "#@title &raquo; " : "" %>PEG.js &ndash; Parser Generator for JavaScript</title>
    <link rel="stylesheet" href="/css/global.css">
    <!--[if IE]>
    <script>
      var html5elements = ["aside", "footer", "header", "nav"];
      for (var i = 0; i < html5elements.length; i++) {
        document.createElement(html5elements[i]);
      }
    </script>
    <![endif]-->
  </head>
  <body>
    <header id="header">
      <h1><a href="/">PEG.js</a></h1>
      <h2>Parser Generator for JavaScript</h2>
    </header>
    <div id="main">
      <nav id="menu">
        <%= menu_item "", "Home" %>
        <%= menu_item "download", "Download" %>
        <%= menu_item "online", "Online Version" %>
        <%= menu_item "documentation", "Documentation" %>
        <%= menu_item "development", "Development" %>
      </nav>

      <div id="content">
        <%= yield %>
      </div>

      <footer id="footer">
        Copyright &copy; 2010 <a href="http://majda.cz/en/">David Majda</a>
      </footer>
    </div>
  </body>
</html>
