<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="David Majda (david@majda.cz)">
    <meta name="copyright" content="Copyright &copy; 2010&ndash;2012 David Majda">
    <meta name="keywords" content="parser generator, PEG, JavaScript">
    <meta name="description" content="PEG.js is a parser generator for JavaScript based on the parsing expression grammar formalism.">
    <title><%- title ? title + " &raquo; " : "" %>PEG.js &ndash; Parser Generator for JavaScript</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout-online.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!--[if IE]>
    <script>
      var html5elements = ["aside", "footer", "header", "nav"];
      for (var i = 0; i < html5elements.length; i++) {
        document.createElement(html5elements[i]);
      }
    </script>
    <![endif]-->
  </head>
  <body>
    <header id="header">
      <h1><a href="/">PEG.js</a></h1>
      <h2>Parser Generator for JavaScript</h2>
    </header>
    <nav id="menu">
      <%- menuItem(req, "", "Home") %>
      <%- menuItem(req, "online", "Online Version") %>
      <%- menuItem(req, "documentation", "Documentation") %>
      <%- menuItem(req, "development", "Development") %>
    </nav>

    <div id="loader">
      <div id="loader-inner">Loading...</div>
    </div>

    <div id="content">
      <%- body %>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-878249-4");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
